package common

const (
	TimeFormatDigitDay = "20060102"
	TimeFormatDigit    = "20060102150405"
	TimeFormatDateTime = "2006-01-02 15:04:05"
	TimeFormatDay      = "2006-01-02"
	TimeFormatLog      = "2006-01-02 15:04:05.000"
)

const (
	ReturnFailed      = 0
	ReturnSuccess     = 1
	ReturnSuccessCode = 200
	ReturnFailedCode  = 500
)

const (
	HeaderUserAgent      = "User-Agent"
	HeaderAcceptLanguage = "Accept-Language"
	ContentTypeJSON      = "application/json"
)
