project:
  name: {{project_name}}
  module: {{module_path}}

build:
  out_dir: dist
  clean: true
  parallel: false
  version:
    source: git
    package: {{module_path}}/internal/version
  defaults:
    cgo: false
    trimpath: true
    ldflags:
      - "-s -w"
      - "-X {{module_path}}/internal/version.Version={{.Version}}"
      - "-X {{module_path}}/internal/version.Commit={{.Commit}}"
      - "-X {{module_path}}/internal/version.BuildTime={{.BuildTime}}"
  checksum:
    enabled: false
    algorithm: sha256
  profiles:
    prod:
      out_dir: dist/prod
      parallel: true
      checksum:
        enabled: true
        algorithm: sha256
      targets:
        - name: server
          archive:
            enabled: true
            format: auto
            files:
              - README.md
              - config
  targets:
    - name: server
      package: .
      output: {{project_name}}
      platforms:
        - linux/amd64
        - windows/amd64
      archive:
        enabled: false
        format: auto
        files:
          - README.md
          - config
