server:
  app_id: "fiberx"
  app_name: "{{project_name}}"
  app_version: "v1.0.0"
  mode: "debug"
  ip_address: "127.0.0.1"
  port: "3000"
  network: "tcp"
  enable_prefork: false
  is_full_stack: false
database:
  enabled: true
  auto_migrate: true
  db_type: "{{db_type_default}}"
  sqlite:
    dsn: ""
    path: "./data/app.db"
  postgres:
    dsn: ""
    db_host: "127.0.0.1"
    db_port: "5432"
    db_name: "app"
    db_username: "postgres"
    db_password: ""
    ssl_mode: "disable"
  mysql:
    dsn: ""
    db_host: "127.0.0.1"
    db_port: "3306"
    db_name: "app"
    db_username: "root"
    db_password: ""
log:
  log_level: "debug"
  log_mode: "dev"
  log_path: "./logs/app.log"
  log_max_size: 100
  log_max_backups: 7
  log_max_age: 30
  log_compress: true
  log_show_line: true
  log_json: false
middleware:
  cors:
    allow_origins:
      - "*"
  gzip:
    enabled: true
swagger:
  enabled: true
  route_prefix: "/docs"
embedded_ui:
  enabled: true
  route_prefix: "/ui"
metrics:
  enabled: true
  route_prefix: "/metrics"
scheduler:
  enabled: true
  interval: "1s"
redis:
  enabled: {{redis_enabled}}
  addr: "127.0.0.1:6379"
  password: ""
  db: 0
