package bootstrap

import (
	"{{module_path}}/config"
	userservice "{{module_path}}/internal/app/user/service"
	"{{module_path}}/internal/infra/db"
	"{{module_path}}/internal/infra/logging"
	httprouter "{{module_path}}/internal/transport/http/router"
)

func init() {
	serveFn = serve
	serviceNamesFn = func() []string {
		return []string{"http:light"}
	}
}

func serve(configPath string) error {
	cfg, err := config.Load(configPath)
	if err != nil {
		return err
	}

	logger, cleanup, err := logging.New(cfg.Log)
	if err != nil {
		return err
	}
	defer cleanup()

	database, err := db.Open(cfg.Database)
	if err != nil {
		return err
	}
	defer database.Close()

	userservice.Init(database)

	logger.Info("fiberx light service starting", logging.String("addr", cfg.Address()))

	app := httprouter.NewApp(httprouter.Dependencies{
		Config:   cfg,
		Logger:   logger,
		Services: Services(),
	})

	return app.Listen(cfg.Address())
}
