package config

import (
	"net"
	"os"

	"gopkg.in/yaml.v3"
)

type Config struct {
	Server     ServerConfig     `yaml:"server"`
	Database   DatabaseConfig   `yaml:"database"`
	Log        LogConfig        `yaml:"log"`
	Middleware MiddlewareConfig `yaml:"middleware"`
	Swagger    SwaggerConfig    `yaml:"swagger"`
	EmbeddedUI EmbeddedUIConfig `yaml:"embedded_ui"`
}

type ServerConfig struct {
	AppID         string `yaml:"app_id"`
	AppName       string `yaml:"app_name"`
	AppVersion    string `yaml:"app_version"`
	Mode          string `yaml:"mode"`
	IPAddress     string `yaml:"ip_address"`
	Port          string `yaml:"port"`
	Network       string `yaml:"network"`
	EnablePrefork bool   `yaml:"enable_prefork"`
	IsFullStack   bool   `yaml:"is_full_stack"`
}

type DatabaseConfig struct {
	Enabled     bool           `yaml:"enabled"`
	AutoMigrate bool           `yaml:"auto_migrate"`
	DBType      string         `yaml:"db_type"`
	SQLite      SQLiteConfig   `yaml:"sqlite"`
	Postgres    PostgresConfig `yaml:"postgres"`
	MySQL       MySQLConfig    `yaml:"mysql"`
}

type SQLiteConfig struct {
	DSN  string `yaml:"dsn"`
	Path string `yaml:"path"`
}

type PostgresConfig struct {
	DSN        string `yaml:"dsn"`
	DBHost     string `yaml:"db_host"`
	DBPort     string `yaml:"db_port"`
	DBName     string `yaml:"db_name"`
	DBUsername string `yaml:"db_username"`
	DBPassword string `yaml:"db_password"`
	SSLMode    string `yaml:"ssl_mode"`
}

type MySQLConfig struct {
	DSN        string `yaml:"dsn"`
	DBHost     string `yaml:"db_host"`
	DBPort     string `yaml:"db_port"`
	DBName     string `yaml:"db_name"`
	DBUsername string `yaml:"db_username"`
	DBPassword string `yaml:"db_password"`
}

type LogConfig struct {
	LogLevel      string `yaml:"log_level"`
	LogMode       string `yaml:"log_mode"`
	LogPath       string `yaml:"log_path"`
	LogMaxSize    int    `yaml:"log_max_size"`
	LogMaxBackups int    `yaml:"log_max_backups"`
	LogMaxAge     int    `yaml:"log_max_age"`
	LogCompress   bool   `yaml:"log_compress"`
	LogShowLine   bool   `yaml:"log_show_line"`
	LogJSON       bool   `yaml:"log_json"`
}

type MiddlewareConfig struct {
	CORS CORSConfig `yaml:"cors"`
	Gzip GzipConfig `yaml:"gzip"`
}

type CORSConfig struct {
	AllowOrigins []string `yaml:"allow_origins"`
}

type GzipConfig struct {
	Enabled bool `yaml:"enabled"`
}

type SwaggerConfig struct {
	Enabled     bool   `yaml:"enabled"`
	RoutePrefix string `yaml:"route_prefix"`
}

type EmbeddedUIConfig struct {
	Enabled     bool   `yaml:"enabled"`
	RoutePrefix string `yaml:"route_prefix"`
}

func Load(path string) (Config, error) {
	data, err := os.ReadFile(path)
	if err != nil {
		return Config{}, err
	}

	var cfg Config
	if err := yaml.Unmarshal(data, &cfg); err != nil {
		return Config{}, err
	}

	cfg.applyDefaults()
	return cfg, nil
}

func (c Config) Address() string {
	return net.JoinHostPort(c.Server.IPAddress, c.Server.Port)
}

func (c *Config) applyDefaults() {
	if c.Server.AppID == "" {
		c.Server.AppID = "fiberx"
	}
	if c.Server.AppName == "" {
		c.Server.AppName = "{{project_name}}"
	}
	if c.Server.AppVersion == "" {
		c.Server.AppVersion = "v1.0.0"
	}
	if c.Server.Mode == "" {
		c.Server.Mode = "debug"
	}
	if c.Server.IPAddress == "" {
		c.Server.IPAddress = "127.0.0.1"
	}
	if c.Server.Port == "" {
		c.Server.Port = "3000"
	}
	if c.Server.Network == "" {
		c.Server.Network = "tcp"
	}
	if c.Database.DBType == "" {
		c.Database.DBType = "{{db_type_default}}"
	}
	if c.Database.SQLite.Path == "" {
		c.Database.SQLite.Path = "./data/app.db"
	}
	if c.Database.Postgres.DBHost == "" {
		c.Database.Postgres.DBHost = "127.0.0.1"
	}
	if c.Database.Postgres.DBPort == "" {
		c.Database.Postgres.DBPort = "5432"
	}
	if c.Database.Postgres.DBName == "" {
		c.Database.Postgres.DBName = "app"
	}
	if c.Database.Postgres.DBUsername == "" {
		c.Database.Postgres.DBUsername = "postgres"
	}
	if c.Database.Postgres.SSLMode == "" {
		c.Database.Postgres.SSLMode = "disable"
	}
	if c.Database.MySQL.DBHost == "" {
		c.Database.MySQL.DBHost = "127.0.0.1"
	}
	if c.Database.MySQL.DBPort == "" {
		c.Database.MySQL.DBPort = "3306"
	}
	if c.Database.MySQL.DBName == "" {
		c.Database.MySQL.DBName = "app"
	}
	if c.Database.MySQL.DBUsername == "" {
		c.Database.MySQL.DBUsername = "root"
	}
	if c.Log.LogLevel == "" {
		c.Log.LogLevel = "info"
	}
	if c.Log.LogMode == "" {
		c.Log.LogMode = "dev"
	}
	if c.Log.LogPath == "" {
		c.Log.LogPath = "./logs/app.log"
	}
	if c.Log.LogMaxSize == 0 {
		c.Log.LogMaxSize = 100
	}
	if c.Log.LogMaxBackups == 0 {
		c.Log.LogMaxBackups = 7
	}
	if c.Log.LogMaxAge == 0 {
		c.Log.LogMaxAge = 30
	}
	if !c.Log.LogCompress {
		c.Log.LogCompress = true
	}
	if !c.Log.LogShowLine {
		c.Log.LogShowLine = true
	}
	if len(c.Middleware.CORS.AllowOrigins) == 0 {
		c.Middleware.CORS.AllowOrigins = []string{"*"}
	}
	if c.Swagger.RoutePrefix == "" {
		c.Swagger.RoutePrefix = "/docs"
	}
	if c.EmbeddedUI.RoutePrefix == "" {
		c.EmbeddedUI.RoutePrefix = "/ui"
	}
}
