package bootstrap

import (
	"context"
	"log/slog"
	"os"
	"os/signal"
	"strings"
	"syscall"

	"{{module_path}}/config"
	"{{module_path}}/internal/infra/db"
	"{{module_path}}/internal/infra/logging"
	httprouter "{{module_path}}/internal/transport/http/router"
)

func init() {
	serveFn = serve
	serviceNamesFn = func() []string {
		return []string{"http:extra-light"}
	}
}

func serve(configPath string) error {
	cfg, err := config.Load(configPath)
	if err != nil {
		return err
	}

	logger, cleanup, err := logging.New(cfg.Log)
	if err != nil {
		return err
	}
	defer cleanup()

	database, err := db.OpenSQLite(cfg.Database)
	if err != nil {
		return err
	}
	defer database.Close()

	logger.Info("fiberx extra-light service starting", slog.String("addr", cfg.Address()))

	app := httprouter.NewApp(httprouter.Dependencies{
		Config:   cfg,
		Logger:   logger,
		Database: database,
		Services: Services(),
	})

	ctx, stop := signal.NotifyContext(context.Background(), os.Interrupt, syscall.SIGTERM)
	defer stop()

	listenErrCh := make(chan error, 1)
	go func() {
		listenErrCh <- app.Listen(cfg.Address())
	}()

	select {
	case err := <-listenErrCh:
		return err
	case <-ctx.Done():
	}

	logger.Info("shutdown signal received", slog.String("addr", cfg.Address()))
	shutdownErr := app.Shutdown()
	listenErr := <-listenErrCh
	if shutdownErr != nil {
		return shutdownErr
	}
	if listenErr != nil && !strings.Contains(strings.ToLower(listenErr.Error()), "server closed") {
		return listenErr
	}
	return nil
}
